* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 14pt;
    color: #333;
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Robot', sans-serif;
}

a {
  text-decoration: none;
  color: #0765bb;
  transition: .1s;
}

a:hover {
  transform: scale(.98);
}

.link-menu {
  text-decoration: none;
  color: #fff;
  transition: .1s;
}

.link-menu:hover {
  color: #fffc;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.container h4 {
  margin: 20px;
}

.header {
  width: 100%;
  background: #0980ec;
  padding: 0 30px;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer {
    height: 120px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    border-top: 1px solid #cecece;
}

.btn-primary {
  color: #fff;
  background: #0980ec;
  padding: 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 28%;
  transition: .1s;
  font-size: .98em;
  margin-bottom: 15px;
}

.btn-primary:hover {
  background: #0765bb;
}

.btn-primary:active {
  transform: scale(.98);
}



