.form-group {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    width: 40%;
    height: 70%;
    padding: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: inset 0px 1px 1px 0px;
}

.form-group label {
  cursor: pointer;
  font-size: 1.3em;
}

.link-confirm {
  color: #fff;
  background: #0bc042;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  margin: 15px;
  cursor: pointer;
  transition: .1s;
  font-size: .98em;
}

.link-confirm:hover {
  background: #068a2e;
}

.form-control {
  width: 50%;
  height: 40px;
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 4px;
  color: #333;
  font-size: .7em;
  transition: .1s;
}

.form-control:focus {
  transform: scale(.98);
  background: #0000000a;
}

.link-group {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.link-group h3 {
  margin-right: 80px;
  color: #fff;
}

.link-group li {
  margin-right: 45px;
}

.link-group span {
  color: #fff;
  margin-right: 15px;
}

.section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 432px;
}

.aside {
  display: grid;
  box-shadow: inset 0px 1px 1px 0px;
  margin-top: 5px;
  border-radius: 4px;
  width: 20%;
  height: 90%;
  background: #2E8AE6;
}

.menu {
  display: grid;
  width: 100%;
  height: 100%;
  align-content: space-around;
}

.main {
  display: grid;
  width: 70%;
}

.main h2 {
  margin-top: 20px;
}

.btn-menu {
    font-size: .98em;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border: none;
    transition: .1s;
    background: transparent;
}

.btn-menu:hover {
  background: #2364AA;
  border-radius: 4px;
}

.btn-menu:active {
  transform: scale(.95);
}
